
<html>
  <body style="background-color:#C168D8;">
<p-card header="Login"  [style]="{width: '300px'}" styleClass="ui-card-shadow">
<br>
  <span class="ui-float-label">
    <input id="email" type="text" size="30" pInputText> 
    <label for="email">E-mail</label>
</span>
<br>
<span class="ui-float-label">
  <input id="password" type="password" size="30" pInputText> 
  <label for="password">Password</label>
</span>
  <p-footer>
      <button pButton type="button" label="Login" icon="pi pi-check" style="margin-right: .25em; "></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-card>
</body>
</html>
