
<p-menubar [model]="items">
    <button pButton label="Logout" (click)="logout()"></button>
</p-menubar>

<div class="container" style="margin-top: 20px;">

    <h1>Add Centerpoint</h1>
  

    <div class="form-group">
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
    <!-- <input id="pac-input" class="controls" type="text"
      placeholder="Start typing here"> -->

    <div #mapContainer id="map"></div>
    <br>

    <!-- <form [formGroup] = "centerpointForm" (ngSubmit)="saveCenterpoint()">  -->
    <div>
      Name : <input id="input" type="text" size="10" pInputText [(ngModel)]="text" style="width: 200px; height: 25px;"> 
    </div>
    <!-- <div>Address: <input id="input" type="text" size="20" label= pInputText [(ngModel)]="text"> </div> -->
    <div>Address: {{address}}</div>
    <div>Radiuse: <input id="input" type="radiuse" size="10" pInputText [(ngModel)]="radiuse" style="width: 200px; height: 25px;" > </div>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
    <button pButton type="button" label="Save" class="ui-button-raised" (click) = 'saveCenterpoint()'></button>
  <!-- </form> -->


  <!-- <form [formGroup] = "profileForm" (ngSubmit) = "saveCenterpoint()">
    <div class="form-group">
    <input type="text" formControlName="ctp_name" class="form-control">
  </div>
  <div class="form-group">
    <input type="text" formControlName="ctp_address" class="form-control">
  </div>
  <div class="form-group">
    <input type="number" formControlName="ctp_lat" class="form-control">
  </div>
  <div class="form-group">
    <input type="number" formControlName="ctp_lng" >class="form-control"
  </div>
  <div class="form-group">
    <input type="number" formControlName="radius" class="form-control">
  </div>
</form> -->


  <!-- <div class="form-group">
    Address: <input formControlName="ctp_address" type="text"></div>
    <div class="form-group">Lat: <input formControlName="ctp_lat" type="text"></div>
    <div class="form-group">
       Lng: <input formControlName="ctp_lng" type="text"></div>
       <div class="form-group"> Radius: <input formControlName="radius" type="text"></div>
    <button type = "submit">ADD</button>
</form> -->

</div>

<!-- <div>
<form [formGroup] = "centerpointForm" (ngSubmit)="saveCenterpoint()">
  <div class="form-group">
    <label>Name:
      <input type="text" size="10" pInputText style="width: 200px; height: 25px;" class="form-control" formControlName="Name">
    </label>
  </div>
  <div type="text" size="10" pInputText style="width: 200px; height: 25px;" class="form-control" formControlName="Name">
    <input>
  </div>
</form>
</div> -->

  <!-- <div class="row mt-5">
    <div class="col-md-9 mx-auto">
         <h2 class="text-left">Google Map</h2>
        <div class="card mt-3">
            <div class="card-body">
                 <div #mapContainer id="map"></div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 25px">
  <p-table [value]="ctpList" [paginator]="true" [rows]="10" >
      <ng-template pTemplate ="caption">CenterPoint
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Address</th>
              <th style="width:150px">Latitude</th>
              <th style="width:150px">Longitude</th>
              <th style="width:100px">Radius</th>
              <th style="width:150px"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ctp>
          <tr>
              <td>{{ctp.ctp_name}}</td>
              <td>{{ctp.ctp_address}}</td>
              <td>{{ctp.ctp_lat}}</td>
              <td>{{ctp.ctp_lng}}</td>
              <td>500 meter</td>
              <td>
                <button pButton type="button" class="ui-button-success" icon="pi pi-pencil" style="margin-right: .5em" ></button>
                <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
                </td>
        
       
          </tr>
      </ng-template>
  </p-table>
  </div>  -->
  
