<p>Add-User</p>
<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user">ID</i></span>
    <input type="text" pInputText >         
</div>
<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user">NAME</i></span>
    <input type="text" pInputText >         
</div>
<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user">EMAIL</i></span>
    <input type="text" pInputText >         
</div>
<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user">PASSWORD</i></span>
    <input type="text" pInputText >         
</div>
<button pButton type="button" label="Primary">SAVE</button>
<button pButton type="button" label="Primary" routerLink="/home">CANCLE</button>

