
<html>
<body >
  <style>
    body {
background-color: rgba(145, 86, 86, 0.3);}
</style>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
  <div class="ui-g-12 ui-md-6 ui-lg-4" style="padding-top: 20px;">
<p-card [style]="{width: '360px'}">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <div style="text-align: center;">
        <img src="\assets\logo\Logo.png" alt="logo"  [style]="{
            width: '100px',
            height: '100px'
          }" >
        </div>
          <br>
        <label for="username">E-mail</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">E-mail is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group" style="text-align: center;">
        <button [disabled]="loading" class="btn btn-primary" style="background-color:#C168D8; border-color: #C168D8;">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink= "/register" class="btn btn-link">Register</a>
    </div>
  </form>
</p-card>
</div>
<div class="ui-g-12 ui-md-6 ui-lg-4"></div>
</div>
</body>
</html>
