
<html>
<body>
    <style>
        body {
            background-color: rgba(145, 86, 86, 0.3);
        }
    </style>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-4" style="padding-top: 20px;">
            <p-card header="Check-In" [style]="{width: '300px'}" styleClass="ui-card-shadow"
                style="margin: 250px 250px;" style="text-align: center;">
                <p-header>

                    <img src="\assets\logo\Logo.png" alt="logo" [style]="{
                                    width: '100px',
                                    height: '100px'
                                  }">
                </p-header>
                <br>
                    <div class="form-group">
                        <span class="ui-float-label">
                            <input id="fullName"  type="text" size="30" style="padding: 10px;" pInputText [(ngModel)]="fullName">
                            <label for="fullName" style="margin-left: 15px;">FullName</label>
                        </span>
                    </div>
                    <br>

                    <div class="form-group">
                        <span class="ui-float-label">
                            <input id="email" type="text" size="30" style="padding: 10px;" pInputText [(ngModel)]="email">
                            <label for="email" style="margin-left: 15px;">E-mail</label>
                        </span>
                    </div>

                    <br>

                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" id="genderMale" value="Male" [(ngModel)]="gender" checked>
                                Male
                            </label>&nbsp;
                            <label>
                                <input type="radio" name="gender" id="genderFemale" value="Female" [(ngModel)]="gender">
                                Female
                            </label>
                        </div>
                    </div>
                    <p-footer>
                        <button pButton type="submit" label="Check-in" icon="pi pi-check" style="margin-right: .25em"
                            style="background-color: #C168D8; border-color: #C168D8;"
                            (click) = 'saveCheckIn()'></button>
                    </p-footer>
            </p-card>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
    </div>
</body>
</html>  
